body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  box-shadow: none;
}

.loginForm {
  
  label {
    text-align-last: left;
  }
}


.navbar {

  .navbar-burger {
    display: block;
    margin-left: inherit;
  }
}

.mapHome {
  width: 100%;
  height: 1000px;
}
